$xs: 0;
$sm: 576px;
$md: 768px;
$lg: 960px;
$xl: 1200px;
$xxl: 1400px;

@mixin mq($media) {
  @if $media == xs {
    @media (min-width: $xs) {
      @content;
    }
  } @else if $media == sm {
    @media (min-width: $sm) {
      @content;
    }
  } @else if $media == md {
    @media (min-width: $md) {
      @content;
    }
  } @else if $media == lg {
    @media (min-width: $lg) {
      @content;
    }
  } @else if $media == xl {
    @media (min-width: $x-lg) {
      @content;
    }
  } @else if $media == xxl {
    @media (min-width: $x-lg) {
      @content;
    }
  } @else {
    @media (min-width: $media) {
      @content;
    }
  }
}
