@import 'vars';

.auth {
  background: $gray-800;
  position: relative;
  overflow: hidden;
  padding: 1rem;
  min-height: 100vh;

  .bg-circles,
  .bg-pattern {
    position: absolute;
    color: $gray-700;
  }

  .bg-circles {
    opacity: 0.25;
  }

  .bg-pattern {
    top: 0;
    left: 0;
  }

  &-wrap {
    position: relative;
  }
}

.auth-title {
  margin-bottom: 1.5rem;

  img {
    width: 50px;
  }

  h1 {
    color: #fff;
    font-weight: 500;
    font-size: 1.5rem;
    margin-left: 1rem;
    letter-spacing: 1px;
  }
}

.auth-form {
  background-color: #fff;
  border-radius: 0.375rem;
  padding: 2rem 1rem;

  h2 {
    font-weight: 500;
    font-size: 1.2rem;
  }

  p {
    background: #f8f5ff;
    color: #7239ea;
    padding: 1.5rem;
    font-size: 0.9rem;
    border-radius: 0.475rem;
    font-weight: normal;
    margin-bottom: 2rem;

    b {
      font-weight: 600;
    }
  }
}

.remember {
  margin-bottom: 1.5rem;
  font-size: 0.95rem;
}

.btn {
  margin-bottom: 2rem;
}
