<div class="auth-form">
  <h2 class="text-center">Bienvenido de nuevo</h2>
  <p class="text-center m-0">
    ¿Eres nuevo por aquí? <a href="/" class="link">Crea tu cuenta</a>
  </p>
  <form
    [formGroup]="form"
    novalidate
    autocomplete="off"
    (submit)="handleSubmit()"
    #f="ngForm"
  >
    <div class="form-group">
      <label for="email" class="f-label required"> Correo electrónico </label>
      <input
        type="email"
        id="email"
        class="f-control"
        formControlName="email"
        [class.invalid-field]="form.get('email')?.errors && f.submitted"
      />
      <app-input-error field="email"></app-input-error>
    </div>
    <div class="form-group">
      <label for="psswd" class="f-label required">Contraseña</label>
      <input
        type="password"
        id="psswd"
        class="f-control"
        formControlName="psswd"
        [class.invalid-field]="form.get('psswd')?.errors && f.submitted"
      />
      <app-input-error field="psswd"></app-input-error>
    </div>
    <div class="d-between remember">
      <label class="f-label" for="remember-me">
        <input type="checkbox" id="remember-me" formControlName="remember" />
        Recordar
      </label>
      <a href="/" class="link">¿Olvidaste tu contraseña?</a>
    </div>
    <button type="submit" class="btn btn-block">Continuar</button>
  </form>
  <span class="social-signin-text">O</span>
  <div class="social-buttons">
    <button class="btn-light btn-block">
      <img src="../../../assets/img/google.png" alt="Google" />
      Continuar con Google
    </button>
    <button class="btn-light btn-block">
      <img src="../../../assets/img/facebook.png" alt="Facebook" />
      Continuar con Facebook
    </button>
    <button class="btn-light btn-block btn-block">
      <img src="../../../assets/img/twitter.png" alt="Twitter" />
      Continuar con Twitter
    </button>
  </div>
</div>
