<div
  cdkOverlayOrigin
  #trigger='cdkOverlayOrigin'
  class='flex flex-col border-2 border-black px-5 py-2 box-border rounded w-full transition-colors hover:bg-gray-50 group/value cursor-pointer'
>
  <span class='text-sm font-bold'>{{ label }}</span>
  <div class='flex justify-between items-baseline'>
    <span
      class='transition-transform origin-left group-hover/value:scale-90 text-lg'
      [ngClass]="{ 'opacity-40': !value }"
    >{{ value || 'Nothing is selected...' }}</span
    >
    <span class='text-xl'>👇</span>
  </div>
</div>
<ng-template
  cdkConnectedOverlay
  [cdkConnectedOverlayOrigin]='trigger'
  [cdkConnectedOverlayOpen]='isOpen'
  [cdkConnectedOverlayOffsetY]='8'
  (overlayOutsideClick)='close()'
  [cdkConnectedOverlayWidth]='defaultWidth'
  (detach)='close()'
>
  <div
    @dropdown
    (@dropdown.done)='onPanelAnimationDone($event)'
    class='shadow-2xl block w-full min-h-[200px] px-5 py-2 border-2 border-black origin-top-left'>
    <p>Overlay panel</p>
  </div>
</ng-template>
