@use '@angular/material' as mat;
@use './banner/banner.component.theme' as banner;
@use 'sass:map';

@include mat.core();

$workshop-primary: mat.define-palette(mat.$red-palette);
$workshop-accent: mat.define-palette(mat.$orange-palette);
$workshop-success: mat.define-palette(mat.$green-palette);
$workshop-info: mat.define-palette(mat.$blue-palette);

$workshop-typography: mat.define-typography-config(
  $font-family: 'Roboto'
);

$workshop-theme: mat.define-light-theme((
  color: (
    primary: $workshop-primary,
    accent: $workshop-accent
  ),
  typography: $workshop-typography,
));

$workshop-theme: map.deep-merge($workshop-theme, (
  success: $workshop-success,
  info: $workshop-info,
  color: (
    success: $workshop-success,
    info: $workshop-info,
  )
));

@include mat.all-component-themes($workshop-theme);
@include banner.app-banner-theme($workshop-theme);

:host {
  width: 100%;
  min-height: 100%;
}
