@import 'mq';

.toolbar-main {
  background: var(--red);
  color: #fff;

  @include mq(md) {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .logo {
    font-weight: bold;
    font-size: 1.2rem;

    &-img {
      margin-bottom: 0.1rem;
      width: 30px;
      vertical-align: bottom;
    }
  }

  .lang {
    display: none;
    font-size: 0.9rem;
    margin-right: 1rem;
    margin-left: 0.3rem;

    @include mq(sm) {
      display: inline-block;
    }
  }

  .btn-account {
    padding: 0;

    @include mq(sm) {
      padding: 0 1rem;
    }
  }

  .lang-icon,
  .user-icon {
    margin-right: 0.3rem;
    margin-bottom: 2px;
    vertical-align: middle;
  }
}

.account-dropdown {
  width: 180px;
}
