<mat-toolbar class="toolbar-main d-flex align-items-center justify-content-between">
  <h1 class="logo">
    <img class="logo-img" src="../../../assets/img/logo-airline.svg" alt="Travel Portal" />
    Travel Portal
  </h1>
  <div class="d-flex align-items-center">
    <div class="lang">
      <mat-icon class="lang-icon" fontSet="material-icons-outlined">language</mat-icon>
      <span>Mexico - Español</span>
    </div>
    <button class="btn-account" mat-button [matMenuTriggerFor]="menu">
      <mat-icon class="user-icon" fontSet="material-icons-outlined">account_circle</mat-icon>
      <span>David Bárcenas</span>
      <mat-icon fontSet="material-icons-outlined">arrow_drop_down</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <div class="account-dropdown">
        <button mat-menu-item>
          <mat-icon fontSet="material-icons-outlined">logout</mat-icon>
          <span>Cerrar sesión</span>
        </button>
      </div>
    </mat-menu>
    <button mat-icon-button aria-label="Menu" (click)="handleToggleMenu()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
</mat-toolbar>
