.auth {
  background: #1e293b;
  position: relative;
  overflow: hidden;
  padding: 1rem;
  min-height: 100vh;

  .bg-circles,
  .bg-pattern {
    position: absolute;
    color: #334155;
  }

  .bg-circles {
    opacity: 0.25;
  }

  .bg-pattern {
    top: 0;
    left: 0;
  }

  &-wrap {
    position: relative;
  }
}

.auth-title {
  margin-bottom: 1.5rem;

  img {
    width: 50px;
  }

  h1 {
    color: #fff;
    font-weight: 500;
    font-size: 1.8rem;
    margin-left: 1rem;
    letter-spacing: 1px;
  }
}
