.pokemon-grid {
  overflow: hidden;
  position: relative;
  
  &-wrap {
    overflow-y: auto;
    height: 72vh;
    margin-bottom: 1rem;
    
    & table {
      width: 100%;
    }
  }

  .grid-img {
    display: inline-block;
    vertical-align: middle;
    object-fit: cover;
    height: 45px;
    width: 45px;
  }

  tr.element-row:hover {
    background: whitesmoke;
    cursor: pointer;
  }
}

.loader {
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0,0,0,.35);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
}