<div class="pokemon-grid mat-elevation-z2">
  <div class="loader" *ngIf="isLoading">
    <mat-spinner color="warn"></mat-spinner>
  </div>
  <div class="pokemon-grid-wrap">
    <table mat-table [dataSource]="showPokemons" >
      <ng-container matColumnDef="name-filter">
        <th mat-header-cell *matHeaderCellDef>
          <mat-form-field appearance="legacy">
            <input matInput placeholder="Filter by name" (input)="filterFn( $event, 'name')">
          </mat-form-field>
        </th>
      </ng-container>
    
      <ng-container matColumnDef="type-filter">
        <th mat-header-cell *matHeaderCellDef>
          <mat-form-field appearance="legacy">
            <input matInput placeholder="Filter by type" (input)="filterFn( $event, 'type')">
          </mat-form-field>
        </th>
      </ng-container>
    
      <ng-container matColumnDef="ability-filter">
        <th mat-header-cell *matHeaderCellDef>
          <mat-form-field appearance="legacy">
            <input matInput placeholder="Filter by ability" (input)="filterFn( $event, 'ability')">
          </mat-form-field>
        </th>
      </ng-container>
  
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let pokemon">
        <img [src]="pokemon.image" [alt]="pokemon.name" class="grid-img">
        {{pokemon.name | titlecase }} 
      </td>
    </ng-container>
  
    <ng-container matColumnDef="type">
      <th mat-header-cell *matHeaderCellDef>Type</th>
      <td mat-cell *matCellDef="let pokemon"> {{pokemon.type | titlecase}} </td>
    </ng-container>
  
    <ng-container matColumnDef="ability">
      <th mat-header-cell *matHeaderCellDef>Ability</th>
      <td mat-cell *matCellDef="let pokemon"> {{pokemon.ability | titlecase}} </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-header-row *matHeaderRowDef="['name-filter', 'type-filter', 'ability-filter']"></tr>
    <tr mat-row 
      *matRowDef="let row; columns: displayedColumns;" 
      (click)="goToPokemonDetails(row.id)" 
      class="element-row"
    ></tr>
  
    </table>
  </div>
  <mat-paginator 
    [length]="resultsLength" 
    [pageSize]="pageSize" 
    (page)="changePage($event)"
    hidePageSize
    aria-label="Select page of pokemons results"
  ></mat-paginator>
</div>
