<div class="d-flex align-items-center justify-content-center login">
  <mat-card>
    <h1 class="login-title">Iniciar sesión en <span>Travel Portal</span></h1>
    <img
      src="../../../../assets/img/airplane.svg"
      alt="Airplane"
      class="login-img"
    />
    <form
      [formGroup]="form"
      (ngSubmit)="handleSubmit()"
      #myForm="ngForm"
      autocomplete="off"
      novalidate
    >
      <p
        class="login-label-session"
        *ngIf="!unauthorizedUser; else invalidCredentials"
      >
        Utiliza tus credenciales de acceso
      </p>
      <ng-template #invalidCredentials>
        <p class="badge-danger">{{ errorMessages.invalidCredentials }}</p>
      </ng-template>
      <div class="form-control">
        <mat-form-field appearance="fill">
          <mat-label>Correo electrónico</mat-label>
          <input
            matInput
            placeholder="Ingrese su usuario"
            formControlName="email"
          />
          <mat-error
            *ngIf="form.get('email')?.hasError('required') && myForm.submitted"
          >
            {{ errorMessages.required }}
          </mat-error>
          <mat-error
            *ngIf="form.get('email')?.hasError('email') && myForm.submitted"
          >
            {{ errorMessages.invalidEmail }}
          </mat-error>
        </mat-form-field>
      </div>
      <div class="form-control">
        <mat-form-field appearance="fill">
          <mat-label>Contraseña</mat-label>
          <input
            type="password"
            matInput
            placeholder="Ingrese su contraseña"
            formControlName="password"
          />
          <mat-error
            *ngIf="
              form.get('password')?.hasError('required') && myForm.submitted
            "
          >
            {{ errorMessages.required }}
          </mat-error>
        </mat-form-field>
      </div>
      <button mat-raised-button color="warn" class="btn-block">Acceder</button>
    </form>
  </mat-card>
</div>
