.sidenav-wrapper {
  padding: 1.5rem;
}

.mat-expansion-panel {
  background: transparent;
  box-shadow: none;

  .mat-expansion-panel-header {
    padding: 0;
  }

  .mat-expansion-panel-header-title {
    color: #fff;
    font-size: 0.9rem;
  }

  .mat-expansion-panel-header,
  .mat-expansion-panel-header.mat-expanded {
    height: 30px;
    justify-content: space-between;
  }

  a {
    color: #fff;
    display: block;
    text-decoration: none;
  }
}

::ng-deep .mat-expansion-panel-content .mat-expansion-panel-body {
  padding: 0;
}
