@import '@angular/cdk/overlay-prebuilt.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  min-height: 100vh;
}

input:none(.form-input):focus {
  outline: none;
}

// Rating Date Picker
.review-area {
  background: #fff;
  border-radius: 5px;
  min-height: 120px;
  padding: 10px;
  box-sizing: border-box;

  h2:empty:before,
  p:empty:before {
    content: attr(data-placeholder);
    opacity: 0.6;
  }

  h2 {
    font-weight: bold;
    margin-bottom: 10px;
  }
}

// Global styles for inputs
.form-label {
  @apply block text-sm font-medium text-gray-700;
}

.form-input {
  @apply mt-1 mb-1 w-full rounded-md outline outline-1 outline-gray-400 bg-white text-sm text-gray-700 shadow-sm py-2 px-3;
}

.ng-valid.ng-dirty:not([formGroupName]):not([formArrayName]):not(form):not(.phones) {
  @apply outline outline-1 outline-green-500;
}

.ng-invalid.ng-dirty:not([formGroupName]):not([formArrayName]):not(form) {
  @apply outline outline-1 outline-red-500;
}

.error-message {
  @apply text-red-500 text-xs px-2 block animate-fade-message;
}
