<div class="modal-alert">
  <div class="modal-icon animate" [ngClass]="'modal-' + modalType">
    <div class="modal-x-mark" *ngIf="modalType === 'error'; else success">
      <div class="modal-line modal-left animate-x-left"></div>
      <div class="modal-line modal-right animate-x-right"></div>
    </div>
    <ng-template #success>
      <div class="modal-line modal-tip animate-success-tip"></div>
      <div class="modal-line modal-long animate-success-long"></div>
    </ng-template>
    <div class="modal-placeholder"></div>
    <div class="modal-fix"></div>
  </div>
  <h2>{{ message }}</h2>
  <button mat-raised-button focus="false" color="warn" (click)="closeModal()">
    Aceptar
  </button>
</div>
