.toolbar-main {
  background: var(--red);
  color: #fff;
}

.main-container {
  width: 100vw;
  height: 100vh;

  &-content {
    max-width: 1320px;
    margin: auto;
    padding: 2rem;
  }
}

.sidenav {
  width: 265px;
  height: calc(100vh - 64px);
  background-color: var(--red600);
  color: #fff;
}

.breadcrumbs-bar {
  background: #fff;
  overflow: hidden;
  flex-wrap: wrap;
  flex-direction: column;
  line-height: normal;
  justify-content: center;
  align-content: center;

  b {
    color: #181c32;
    width: 100%;
  }

  span {
    width: 100%;
    display: block;
    color: #a1a5b7;
    font-size: 0.9rem;
  }
}
