.main-container {
  width: 100vw;
  height: calc(100vh - var(--padding-top));

  &-wrap {
    position: relative;
    padding-top: var(--padding-top);
  }

  &-content {
    max-width: 1320px;
    margin: auto;
    padding: 1.5rem 1rem;
  }
}

.sidenav {
  width: 265px;
  height: 100%;
  background-color: var(--red600);
  color: #fff;
}
