.toolbar-main {
  background: var(--red);
  color: #fff;
}

.main-container {
  width: 100vw;
  height: 100vh;

  &-content {
    max-width: 1320px;
    margin: auto;
    padding: 2rem;
  }
}

.sidenav {
  width: 265px;
  height: calc(100vh - 64px);
  background-color: var(--red600);
  color: #fff;
}
