<mat-toolbar
  class="toolbar-main d-flex align-items-center justify-content-between"
>
  <h1 class="d-flex align-items-center">Travel Portal</h1>
  <button mat-icon-button aria-label="Menu" (click)="drawer.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
</mat-toolbar>
<mat-drawer-container class="main-container" autosize>
  <mat-drawer #drawer class="sidenav" mode="side" opened>
    <app-sidenav></app-sidenav>
  </mat-drawer>
  <div class="main-container-content">
    <router-outlet></router-outlet>
  </div>
</mat-drawer-container>
