:host {
  display: flex;
  flex-direction: column;
  height: 140px;
  width: 100px;
  transition: all 250ms linear, transform 100ms linear;
  transform: scale(1);

  img {
    max-width: 100%;
  }
}

:host:not(.loaded) {
  opacity: 0;
}

:host.loaded {
  opacity: 1;
}

:host:hover {
  transform: scale(1.05);

  img {
    box-shadow: 1px 1px 10px 5px rgba(#000, 0.2);
  }
}
