<section class="flex gap-4">
  <div class="flex flex-col gap-3">
    <app-button text="Load user form" (click)="formLoadingTrigger.next('user')" />
    <app-button text="Load company form" (click)="formLoadingTrigger.next('company')" />
  </div>
  <div *ngIf="formConfig$ | async as formConfig" class="text-center grow">
    <h3 class="text-lg font-bold mb-3">{{ formConfig.config.description }}</h3>
    <form
      [formGroup]="formConfig.form"
      (ngSubmit)="onSubmit(formConfig.form)"
      class="text-left max-w-lg m-auto"
      autocomplete="off"
    >
      <ng-container *ngFor="let control of formConfig.config.controls | keyvalue : compareFn">
        <app-dynamic-control-outlet [controlKey]="control.key" [control]="control.value" />
      </ng-container>
      <div class="text-right col-span-12">
        <app-button type="submit" text="Save" [disabled]="formConfig.form.invalid" />
      </div>
    </form>
  </div>
</section>
