<div class='flex justify-center'>
  <app-custom-select (selectionChanged)='onSelectionChange($event)' [value]='selectedValue' label='Pick the Element'
                     class='w-[350px]'>
    <div>
      <app-select-option value='hydrogen'>Hydrogen</app-select-option>
      <app-select-option value='beryllium'>Beryllium</app-select-option>
      <app-select-option value='nitrogen'>Nitrogen</app-select-option>
      <app-select-option value='fluorine' disabled disabledHint='My reason'>Fluorine</app-select-option>
    </div>
  </app-custom-select>
</div>
