<ng-container *ngIf="vm$ | async as vm; else loading">
  <div class="cart">
    <div class="cart-review">
      <h2>Review Item And Shipping</h2>
      <ul class="list">
        <li class="item" *ngFor="let item of vm.cartItems">
          <div class="item-img">
            <img [src]="item.image" [alt]="item.title" />
          </div>
          <div class="item-description">
            <div>
              <h3>{{ item.title }}</h3>
              <small>{{ item.category }}</small>
            </div>
            <div>
              <strong>{{ item.price | currency }}</strong>
              <span>Quantity: {{ item.quantity }}</span>
            </div>
            <span class="material-symbols-outlined delete-btn" (click)="onRemove(item)">
              remove_circle
            </span>
          </div>
        </li>
      </ul>
    </div>
    <div class="order-summary">
      <h2>Order Summary</h2>
      <ul class="order-list">
        <li class="order-item">
          <span>Sub Total</span>
          <strong>{{ vm.subTotal | currency }}</strong>
        </li>
        <li class="order-item">
          <span>Tax(10%)</span>
          <strong>{{ vm.tax | currency }}</strong>
        </li>
        <li class="order-item">
          <span>Coupon Discount</span>
          <strong>$0.00</strong>
        </li>
        <li class="order-item">
          <span>Shipping Cost</span>
          <strong>{{ vm.delivery | currency }}</strong>
        </li>
        <li class="order-item">
          <span>Total</span>
          <strong>{{ vm.total | currency }}</strong>
        </li>
      </ul>
      <button class="pay-btn">Pay {{ vm.total | currency }}</button>
    </div>
  </div>
</ng-container>

<ng-template #loading>
  <div class="skeleton">
    <div class="skeleton-review">
      <ngx-skeleton-loader [theme]="skeleton.reviewTitle"></ngx-skeleton-loader>
      <div class="skeleton-review-item" *ngFor="let _ of skeleton.reviewItems">
        <div class="skeleton-review-item--left">
          <ngx-skeleton-loader [theme]="skeleton.img"></ngx-skeleton-loader>
          <div>
            <ngx-skeleton-loader [theme]="skeleton.product"></ngx-skeleton-loader>
            <ngx-skeleton-loader [theme]="skeleton.desc"></ngx-skeleton-loader>
          </div>
        </div>
        <div>
          <ngx-skeleton-loader [theme]="skeleton.price"></ngx-skeleton-loader>
          <ngx-skeleton-loader [theme]="skeleton.quantity"></ngx-skeleton-loader>
        </div>
      </div>
    </div>
    <div class="skeleton-order">
      <ngx-skeleton-loader [theme]="skeleton.orderTitle"></ngx-skeleton-loader>
      <div class="skeleton-order-item" *ngFor="let _ of skeleton.orderItems">
        <ngx-skeleton-loader [theme]="skeleton.total"></ngx-skeleton-loader>
        <ngx-skeleton-loader [theme]="skeleton.price"></ngx-skeleton-loader>
      </div>
      <ngx-skeleton-loader [theme]="skeleton.btn"></ngx-skeleton-loader>
    </div>
  </div>
</ng-template>
