<div class="d-flex align-items-center justify-content-center login">
  <mat-card>
    <form [formGroup]="form" (ngSubmit)="handleSubmit()" autocomplete="off">
      <label class="login-title">TRAVEL</label>
      <div class="form-control">
        <mat-form-field appearance="fill">
          <mat-label>Email</mat-label>
          <input
            matInput
            placeholder="Ingrese su usuario"
            formControlName="email"
          />
          <mat-error *ngIf="email?.touched && email?.hasError('required')">
            {{ errors['required'] }}
          </mat-error>
          <mat-error
            *ngIf="email?.touched && email?.hasError('email') && email?.value"
            >{{ errors['email'] }}
          </mat-error>
        </mat-form-field>
      </div>
      <div class="form-control">
        <mat-form-field appearance="fill">
          <mat-label>Password</mat-label>
          <input
            type="password"
            matInput
            placeholder="Ingrese su contraseña"
            formControlName="password"
          />
          <mat-error
            *ngIf="password?.touched && password?.hasError('required')"
          >
            {{ errors['required'] }}
          </mat-error>
        </mat-form-field>
      </div>
      <button mat-raised-button color="warn" class="btn-block">Acceder</button>
    </form>
  </mat-card>
</div>
