<div class="loader"></div>
<div class="tool-bar">
  <div class="search-tool">
    <label for="heroSearch">Search:</label>
    <input type="text" id="heroSearch" />
  </div>
  <div class="page-tool">
    <label>Page 1 of 10</label>
    <div class="buttons">
      <button>Prev</button>
      <button>Next</button>
    </div>
  </div>
  <div class="result-tool">
    <label>Show results (Total: 20)</label>
    <div class="buttons">
      <button>25</button>
      <button>50</button>
      <button>100</button>
    </div>
  </div>
</div>
<div class="table-content">
  <app-hero-card *ngFor="let hero of heroes$ | async" [hero]="hero"></app-hero-card>
</div>
