<!--<div class="loader"></div>-->
<div class="tool-bar">
  <div class="search-tool">
    <label for="heroSearch">Search:</label>
    <input type="text" id="heroSearch" (input)="doSearch($event)" />
  </div>
  <div class="page-tool">
    <label>Page {{ page$ | async }} of {{ totalPages$ | async }}</label>
    <div class="buttons">
      <button (click)="movePageBy(-1)">Prev</button>
      <button (click)="movePageBy(+1)">Next</button>
    </div>
  </div>
  <div class="result-tool">
    <label>Show results (total: {{ totalResults$ | async }})</label>
    <div class="buttons">
      <button *ngFor="let limit of limits" (click)="setLimit(limit)">{{ limit }}</button>
    </div>
  </div>
</div>
<div class="table-content">
  <app-hero-card *ngFor="let hero of heroes$ | async" [hero]="hero"></app-hero-card>
</div>
