<div class="grid">
  <ng-container *ngIf="products$ | async as products; else loading">
    <div class="product fade" *ngFor="let product of products">
      <div class="product-image">
        <img [ngSrc]="product.image" [alt]="product.title" fill />
      </div>
      <div class="product-header">
        <h2 class="product-title">{{ product.title | titlecase }}</h2>
        <strong class="product-price">${{ product.price }}</strong>
      </div>
      <p class="product-description">{{ product.description }}</p>
      <button class="product-btn">Add to cart</button>
    </div>
  </ng-container>
  <ng-template #loading>
    <div *ngFor="let _ of skeleton.items">
      <ngx-skeleton-loader [theme]="skeleton.card"></ngx-skeleton-loader>
      <ngx-skeleton-loader [theme]="skeleton.title"></ngx-skeleton-loader>
      <ngx-skeleton-loader [theme]="skeleton.price"></ngx-skeleton-loader>
      <ngx-skeleton-loader [theme]="skeleton.description"></ngx-skeleton-loader>
      <ngx-skeleton-loader [theme]="skeleton.button"></ngx-skeleton-loader>
    </div>
  </ng-template>
</div>
