.table-responsive {
  width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  box-sizing: border-box;
}

.table {
  width: 100%;
}

.badge {
  display: inline-block;
  padding: 0.1rem 0.85rem;
  font-size: 0.8rem;
  font-weight: bold;
  text-align: center;
  white-space: nowrap;
  border-radius: 0.475rem;

  &.success {
    color: #50cd89;
    background-color: #e8fff3;
  }

  &.danger {
    color: #f1416c;
    background-color: #fff5f8;
  }
}

.header {
  margin-bottom: 2rem;
  padding: 1rem 1rem 0;

  h1 {
    font-size: 1.5rem;
    font-weight: 500;
    margin: 0;
  }
}

.table-actions {
  text-align: right;
  button {
    margin-left: 0.5rem;
    background: var(--red);
    color: #fff;
    padding: 0.2rem 1.35rem;
    font-weight: bold;
    overflow: hidden;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
      border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

    .mat-icon {
      margin-bottom: 2px;
    }
  }

  .btn-light-primary {
    background: rgba(#f44336, 0.1);
    color: #f44336;

    &:hover {
      background: var(--red);
      color: #fff;
    }
  }
}
