<ul class="items">
  <li class="item">
    <div class="item__thumbnail">
      <img src="/assets/images/knife.png" alt="Temas de componentes" class="item__image" />
    </div>
    <div class="item__content">
      <h3 class="item__title">Temas de componentes</h3>
      <p class="item__description">
        Enfocado en crear componentes que tengan múltiples temas y exploramos algunas maneras
        diferentes en que podemos aplicarlos. Primero establecemos explícitamente el tema por
        instancia agregando clases y propiedades a los componentes y nosotros exploraremos cómo se
        vería este SCSS/CSS. Luego miraremos como proporcionar temas conscientes del contexto para
        los componentes que...
      </p>
      <a class="item__button">Leer Más</a>
    </div>
  </li>
  <li class="item">
    <div class="item__thumbnail">
      <img src="/assets/images/beaker.png" alt="Estilos en Angular" class="item__image" />
    </div>
    <div class="item__content">
      <h3 class="item__title">Estilos en Angular</h3>
      <p class="item__description">
        Una inmersión en cómo funcionan los estilos en Angular 2.0+. Cubrimos cómo funcionan los
        diferentes modos de encapsulación, lo que significa en lo que respecta al compilado código y
        alcance, y por qué es posible que queramos usar cada uno de ellos. entonces nos movemos en
        las diferentes formas en que podemos agregar estilos a los componentes, cómo Angular los
        maneja y cómo fluye su prioridad. Después...
      </p>
      <a class="item__button">Leer Más</a>
    </div>
  </li>
</ul>
