<div class="product">
  <div class="product-img">
    <img
      src="https://fakestoreapi.com/img/71-3HjGNDUL._AC_SY879._SX._UX._SY._UY_.jpg"
      alt="Product name"
    />
  </div>
  <div class="product-description">
    <h2>Airpods - Max</h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus assumenda atque eaque eos
      est incidunt iusto necessitatibus repudiandae rerum velit.
    </p>
    <strong class="product-price">$569</strong>
    <small>Suggested payments with 6 months special financing</small>
    <div class="product-buttons">
      <div class="product-counter">
        <span class="material-symbols-outlined"> remove </span>
        <span>1</span>
        <span class="material-symbols-outlined"> add </span>
      </div>
      <button class="product-btn">Add to Cart</button>
    </div>
    <ul class="product-delivery">
      <li>
        <span class="material-symbols-outlined icon"> local_shipping </span>
        <div>
          <strong>Free Delivery</strong>
          <small>Enter your Postal code for Delivery Availability</small>
        </div>
      </li>
      <li>
        <span class="material-symbols-outlined icon"> calendar_today </span>
        <div>
          <strong>Return Delivery</strong>
          <small>Free 30 days Delivery Returns</small>
        </div>
      </li>
    </ul>
  </div>
</div>
