@import './app//styles/custom_theme';

:root {
  --red: #f44336;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.btn-block {
  width: 100%;
}
