@import 'custom-theme';

:root {
  --red: #de0108;
  --red600: #e53935;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  background-color: #f5f8fa;
  overflow-x: hidden;
}

.mat-raised-button.btn-block {
  width: 100%;
}

.mat-raised-button.mat-warn {
  padding: calc(0.75rem + 1px) calc(1.5rem + 1px);
  line-height: 1.4;
  font-size: 1rem;
}

.form-control {
  margin-bottom: 0.5rem;
}

.mat-form-field-appearance-fill .mat-form-field-flex {
  color: #5e6278;
  background-color: #f5f8fa;
  border: 1px solid transparent;
  font-size: 0.9rem;
}
