@import './app//styles/custom_theme';

:root {
  --red: #f44336;
  --red600: #e53935;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  background-color: #f5f8fa;
  overflow-x: hidden;
}

.btn-block {
  width: 100%;
}
