<h1 class="text-center font-bold py-2 text-slate-500 mb-6">¿No puede iniciar sesión?</h1>
<div *ngIf='emailSent'>
  <div class="flex justify-center py-4">
    <img
      loading="lazy"
      class="w-40"
      src="/assets/images/trello/check-email.svg"
      alt="Email sent"
    />
  </div>
  <p class='text-center'>Le hemos enviado un enlace de recuperación a</p>
  <p class="font-bold text-center">{{form.controls.email.value}}</p>
</div>
<form *ngIf='!emailSent' [formGroup]="form" novalidate (ngSubmit)="sendLink()" class="space-y-6">
  <div>
    <div class="relative">
      <input
        #emailCtrl
        formControlName="email"
        placeholder="Ingresa tu correo"
        type="email"
        class="w-full rounded bg-gray-50 border-gray-300 border-1"
      />
      <button (click)="emailCtrl.focus()" type="button" class="p-2 absolute right-2">
        <fa-icon [icon]="faPen"></fa-icon>
      </button>
    </div>
    <div *ngIf="form.controls.email.touched && form.controls.email.invalid">
      <p
        *ngIf="form.controls.email.hasError('required')"
        class="font-medium text-red-500 text-xs mt-1 ml-1"
      >
        Este campo es requerido
      </p>
      <p
        *ngIf="form.controls.email.hasError('email')"
        class="font-medium text-red-500 text-xs mt-1 ml-1"
      >
        Ingresa un correo válido
      </p>
    </div>
  </div>
  <app-btn type="submit" [loading]="status === 'loading'" color='success' class="w-full">Continuar</app-btn>
</form>
<div class="text-center border-t border-t-gray-300 mt-6 pt-6">
  <a routerLink="/trello-clone" class="text-sm text-blue-600 font-light cursor-pointer hover:underline"
  >Volver al inicio sesión</a
  >
</div>
